{
  "extends": "airbnb-base",
  "rules": {
    "no-underscore-dangle": "off",
    "no-unused-vars": "off"
  },
  "overrides": [
    {
      "files": ["*.js"],
      "rules": {
        "import/extensions": "off"
      }
    }
  ]
}
